<h1>Del Taco Diaries</h1>
<div class="container_fluid">

<% @photos.each do |photo| %>
	<div class="photo_container">
	<%= image_tag(photo["photos"][0]["alt_sizes"][0]["url"])%> 
	</div>
<%end%>



</div>