<h1>Del Taco Diaries</h1>
<div class="container">
	<div class="column_small">
		
		<title>
		not much of a selfie person but it was a nice day out
		</title>
		<description>
		<img src="http://40.media.tumblr.com/e45b53a98220803ed6890c9470bf42e4/tumblr_nslduzI8hk1tze4m2o1_500.jpg"/><p>not much of a selfie person but it was a nice day out </p>
		</description>
		
		<title>i made this, i love my last name.</title>
		<description>
		<img src="http://40.media.tumblr.com/7b493d1264d8a9a206c1f4a86f3e43a1/tumblr_nsjw0kPAOY1tze4m2o1_500.jpg"/><p>i made this, i love my last name. </p>
		</description>

		<title>
		BLP ‘14 trailer. wish i could make another part with these...
		</title>
		<description>
		<iframe width="400" height="300" id="youtube_iframe" src="https://www.youtube.com/embed/buJZOVTbRho?feature=oembed&enablejsapi=1&origin=http://safe.txmblr.com&wmode=opaque" frameborder="0" allowfullscreen></iframe><p>BLP ‘14 trailer. </p><p>wish i could make another part with these dudes.</p>
		</description>

		<title>GATS art showSan Francisco, Ca2015</title>
		<description>
		<img src="http://41.media.tumblr.com/282580d7b3a714716c8a73097b3fe3c9/tumblr_noonsdKcDk1tze4m2o1_500.jpg"/><p>GATS art show</p><p>San Francisco, Ca</p><p>2015</p>
		</description>

	</div>


	<div class="column_small">
		<title>My lil window Oakland, Ca</title>
		<description>
		<img src="http://36.media.tumblr.com/615bd844b89bdd99c82d688484f6b1b2/tumblr_nrcmd4gZAY1tze4m2o1_500.jpg"/><p>My lil window </p><p>Oakland, Ca</p>
		</description>

		<title>Peek a booDwntwn San Francisco</title>
		<description>
		<img src="http://40.media.tumblr.com/73e2aceee40ab76b875633b0d4d9728f/tumblr_nrcmbpLS0J1tze4m2o1_500.jpg"/><p>Peek a boo</p><p>Dwntwn San Francisco</p>
		</description>

		<title>Being a BumOakland, Ca</title>
		<description>
		<img src="http://41.media.tumblr.com/887b9e51a77270cd0cd2bda133eb4058/tumblr_nrcmabwo1X1tze4m2o1_500.jpg"/><p>Being a Bum</p><p>Oakland, Ca</p>
		</description>

		<title>notyourscarletgato</title>
		<description>
		<img src="http://41.media.tumblr.com/0853659fd1eee1d464e5745994267c9c/tumblr_nrcm8x1eYH1tze4m2o1_500.jpg"/><p><a class="tumblelog" href="http://tmblr.co/mEIlTu8-MD4nh7Hsa9o_xmg">notyourscarletgato</a></p>
		</description>

		<title>Chelsea’s BarSan Francisco, Ca</title>
		<description>
		<img src="http://36.media.tumblr.com/d618c3f018a0fe5a308e7bfa45b43c67/tumblr_nrcm7ggZDZ1tze4m2o1_500.jpg"/><p>Chelsea’s Bar</p><p>San Francisco, Ca</p>
		</description>




	</div>

	<div class="column_small">
		<title>Ashby Flea MarketBerkeley, Ca2015</title>
		<description>
		<img src="http://41.media.tumblr.com/fbc0b4380e2e6e81243dfe0d0ac35211/tumblr_nrcm680aMI1tze4m2o1_500.jpg"/><p>Ashby Flea Market</p><p>Berkeley, Ca</p><p>2015</p>
		</description>

		<title>Coworker WillBerkeley, Ca2015</title>
		<description>
		<img src="http://41.media.tumblr.com/ad7bf869eaabef64b987d795491ab063/tumblr_nrcm58f7zE1tze4m2o1_500.jpg"/><p>Coworker Will</p><p>Berkeley, Ca</p><p>2015</p>
		</description>

		<title>Lake Merritt With notyourscarletgatoOakland, Ca</title>
		<description>
		<img src="http://41.media.tumblr.com/5a36eebc041d293c228512ad9c21060b/tumblr_nrcm3t67iF1tze4m2o1_500.jpg"/><br/> <br/><img src="http://41.media.tumblr.com/b5331357b61d9b49ff6d24459ad88521/tumblr_nrcm3t67iF1tze4m2o2_500.jpg"/><br/> <br/><p>Lake Merritt With <a class="tumblelog" href="http://tmblr.co/mEIlTu8-MD4nh7Hsa9o_xmg">notyourscarletgato</a></p><p>Oakland, Ca</p>
		</description>

		<title>notyourscarletgato <33 </title>
		<description>
		<img src="http://41.media.tumblr.com/5e91870820ab049403c30e46fe1a4dfb/tumblr_nrcm1tdeoL1tze4m2o1_500.jpg"/><br/> <br/><img src="http://41.media.tumblr.com/87b543cb8d64997bd5bbbe49bcc4df9f/tumblr_nrcm1tdeoL1tze4m2o2_500.jpg"/><br/> <br/><p><a class="tumblelog" href="http://tmblr.co/mEIlTu8-MD4nh7Hsa9o_xmg">notyourscarletgato</a> <33</p>
		</description>

		<title>Hanging with thedrawbackSan Francisco, Ca2015</title>
		<description>
		<img src="http://41.media.tumblr.com/e69215be48bd858bac57e00ea8e226b8/tumblr_nrclvzAQf61tze4m2o1_500.jpg"/><br/> <br/><img src="http://40.media.tumblr.com/dbb48787c1a211b158ca67a92e2abb55/tumblr_nrclvzAQf61tze4m2o2_r1_500.jpg"/><br/> <br/><p>Hanging with <a class="tumblelog" href="http://tmblr.co/m3u7Dd3dquyRr2Nc7sZE31g">thedrawback</a></p><p>San Francisco, Ca</p><p>2015</p>
		</description>

	</div>

	<div class="column_small">
		<title>Downtown Oakland, Ca2015</title>
		<description>
		<img src="http://40.media.tumblr.com/2164af468bf7d9a1cfae896042d443b7/tumblr_nrclu4w9aN1tze4m2o1_500.jpg"/><p>Downtown </p><p>Oakland, Ca</p><p>2015</p>
		</description>

		<title>Golden gate with notyourscarletgato2015</title>
		<description>
		<img src="http://40.media.tumblr.com/07cbebf71f302333f099762f849250fe/tumblr_nrcltam3s31tze4m2o1_500.jpg"/><p>Golden gate with <a class="tumblelog" href="http://tmblr.co/mEIlTu8-MD4nh7Hsa9o_xmg">notyourscarletgato</a></p><p>2015</p>
		
		</description>
		<title>Merch BoysSan Francisco, Ca2015</title>
		<description>
		<img src="http://40.media.tumblr.com/4b99d7f0cf58e1b930624c166e1b7df3/tumblr_nrcls0vJLR1tze4m2o1_500.jpg"/><p>Merch Boys</p><p>San Francisco, Ca</p><p>2015</p>
		</description>

		<title>
		Mikey P.Plauge Vendor & Bad Religon showSan Francisco,...
		</title>
		<description>
		<img src="http://41.media.tumblr.com/61ddf4ff665beba7f10cdae9d2238145/tumblr_nrclqsOW7U1tze4m2o1_500.jpg"/><p>Mikey P.</p><p>Plauge Vendor & Bad Religon show</p><p>San Francisco, Ca</p><p>2015</p>
		</description>

		<title>
		Lunch Con mis abuelosCasita De Mi Abuelita Rosemead, Ca
		</title>
		<description>
		<img src="http://36.media.tumblr.com/0687d0f0a2818ff0d9fb20b0bc0b1ea4/tumblr_nrclfrMpqv1tze4m2o1_500.jpg"/><br/> <br/><img src="http://41.media.tumblr.com/378e946b4e62d8d7fe76231efd7b1c12/tumblr_nrclfrMpqv1tze4m2o2_500.jpg"/><br/> <br/><p>Lunch Con mis abuelos</p><p>Casita De Mi Abuelita </p><p>Rosemead, Ca</p>
		</description>

		<title>Vineland SwapmeetIndustry, Ca</title>
		<description>
		<img src="http://41.media.tumblr.com/48518dc4dcaac48d4c6718ca0452dd3c/tumblr_nrclbatuPo1tze4m2o1_500.jpg"/><p>Vineland Swapmeet</p><p>Industry, Ca</p>
		</description>

	</div>

</div>









